* {
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 350px;
    height: 130px;
}

.traffic__light {
    display: flex;
    margin: 0 auto;
    width: 350px;
    height: 130px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(156, 83, 34);

}

.lamp {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: 10px;
    background-color: rgb(75, 75, 75);
}

input {
    display: flex;
    margin: 0 auto 0 50px;
    width: 150px;
    height: 150px;
    padding: 50px;
    border-radius: 100%;
}